<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <%- include('../common/head'); %>
  </head>
  <body class="container rtl">
    <header><%- include('../common/header'); %></header>

    <main>
      <div class="jumbotron">
      <h1>About us</h1>
      </div>
     
    </main>

    <footer><%- include('../common/footer'); %></footer>
    <script src="script/search.js"></script>
  </body>
</html>
